@model DanceStudio.Models.Group

@{
    ViewData["Title"] = "Details";
}
<br/>
<p class="title is-1 is-spaced">Details</p>

<div>
    <hr />
    <dl class="row">
        <dt class = "subtitle is-5">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "title is-3">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "subtitle is-5">
            @Html.DisplayNameFor(model => model.Coach)
        </dt>
        <dd class = "title is-3">
            @Html.DisplayFor(model => model.Coach.Name)
        </dd>
        <dt class = "subtitle is-5">
            @Html.DisplayNameFor(model => model.Dance)
        </dt>
        <dd class = "title is-3">
            @Html.DisplayFor(model => model.Dance.Name)
        </dd>
    </dl>
</div>
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="button is-link is-rounded">Edit</a> 
    <a asp-action="Index" class="button is-rounded">Back to List</a>
</div>
<br/>
