@model IEnumerable<DanceStudio.Models.GroupMember>

@{
    ViewData["Title"] = "Index";
}

<br/>
<p class="subtitle is-3">Group Members</p>

<p>
    <a asp-action="Create" class="button is-primary is-outlined">Create New</a>
</p><br/>
<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr class="th is-selected">
            <th>
                @Html.DisplayNameFor(model => model.Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Group.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id=item.GroupId })
            </td>
        </tr>
}
    </tbody>
</table>
<br/>