@model IEnumerable<DanceStudio.Models.Dance>

@{
    ViewData["Title"] = "Index";
}

<br/>

<p class="subtitle is-3">Dances</p>

<p>
    <a asp-action="Create" class="button is-primary is-outlined">Create New</a>
</p><br/>
<table class="table is-bordered is-striped is-fullwidth">
    <thead>
        <tr class="th is-selected">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="field is-grouped">
                    <p class="control">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button is-link">
                            Edit
                        </a>
                    </p>
                    <p class="control">
                        <a asp-action="Details" asp-route-id="@item.Id" class="button">
                            Details
                        </a>
                    </p>
                    <p class="control">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button is-danger">
                            Delete
                        </a>
                    </p>
                </div>
                
                
            </td>
        </tr>
}
    </tbody>
</table>
<br/>
